<%- layout('layouts/main.ejs') %>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <!--FONT AWESOME-->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
      <!--CSS-->
      <link rel="stylesheet" href="css/style.css" type="Text/css">
    </head>
    <body>
      <div class="container">
        <div class="card mb-3">
            <div class="card-body">
              <h3 class="text-center display-5"><i class="fab fa-pagelines"> PROVEEDORES</i></h3>
              <br />
              <br />
              <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="https://cdn.pixabay.com/photo/2018/03/21/11/12/flower-3246357_1280.jpg" class="card-img-top" alt="imagen10">
                  </div>
                  <div class="col order-5">
                    <img src="https://cdn.pixabay.com/photo/2019/02/16/13/07/cacaobean-4000306_1280.jpg" class="card-img-top" alt="imagen10">
                  </div>
                  <div class="col order-1">
                    <br/>
                    <img src="https://cdn.pixabay.com/photo/2014/09/19/19/13/cocoa-452911_1280.jpg" class="card-img-top" alt="imagen10">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br />
      <br />
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Extensión</th>
              <th scope="col">Empresa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Juan</td>
              <td>López Aragon</td>
              <td>juan@paraisorangel.com</td>
              <td>4454508142</td>
              <td>01</td>
              <td>Paraiso Rangel</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Francisco</td>
              <td>León Pérez</td>
              <td>leonperezf@gmail.com</td>
              <td>4719875263</td>
              <td>123</td>
              <td>Bodega Aurrera</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>María Guadalupe</td>
              <td>Valtierra Ponts</td>
              <td>vponts@outlook.mx</td>
              <td>4524123890</td>
              <td>-</td>
              <td>Punto de arte</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Carlos</td>
              <td>Torres Ferrer<rtd>
              <td>torres.ferres@laboratorios.mx</td>
              <td>6652817293</td>
              <td>123</td>
              <td>Laboratorios clinicos Ferrer</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Miguel Ángel</td>
              <td>Moreno Cerna<rtd>
              <td>mam@gmail.com</td>
              <td>4451723453</td>
              <td>-</td>
              <td>Central de abastos</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <br />
      <div class = "container">
          <div class="col-sm-6">
            <div class="card text-dark bg-light">
              <div class="card-body">
                <h5 class="card-title">NUEVO PEDIDO</h5>
                <p class="card-text">Puedes adquirir los productos llenando el siguiente formulario.</p>
                <a href="./signin" class="btn btn-primary">Siguiente</a>
              </div>
            </div>
          </div>
      </div>
      <br />
      <br />
      <!--JS Bootstrap-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
  </html>