<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!--FONT AWESOME-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css" type="Text/css">
  </head>
  <body>
    <br />
    <br />
    <div class="container">
      <div class="card mb-3">
          <div class="card-body">
            <h3 class="text-center display-5"><i class="fab fa-pagelines"> MENSAJES</i></h3>
            <br />
            <br />
            <div class="container">
              <div class="row">
                <div class="col">
                  <img src="https://cdn.pixabay.com/photo/2017/01/20/14/34/chocolate-1994991_1280.jpg" class="card-img-top" alt="imagen10">
                </div>
                <div class="col order-5">
                  <img src="https://cdn.pixabay.com/photo/2017/09/03/22/31/cocoa-2712368_1280.jpg" class="card-img-top" alt="imagen10">
                </div>
                <div class="col order-1">
                  <br/>
                  <img src="https://cdn.pixabay.com/photo/2019/02/14/07/27/cacao-3995997_1280.jpg" class="card-img-top" alt="imagen10">
                </div>
              </div>
            </div>
          </div>
        </div>
    <br />
    <br />
        <div class = "container">
        <button type="button" class="btn btn-primary position-relative ">
          Inbox
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <button type="button" class="btn btn-primary">
          Notifications <span class="badge bg-danger">50</span>
        </button>
    </div>
    <br />
    <br />
    <div class = "container">
      <div class="card">
        <h4 class="card-header display-6">ventas@laesperanza.mx</h4>
        <div class="card-body">
          <h4 class="card-title">Presupueto, productos cacao puro</h4>
          <p class="card-text">Hola, buenas tardes.</p>
          <p>Me comunico de Ventas la espenza, algunos de sus productos son muy buenos, por tal motivo nos gustaría saber si existe un precio especial...</p>
          <a href="#" class="btn btn-primary">Responder</a>
          <a href="#" class="btn btn-primary">Eliminar</a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class = "container">
      <div class="card">
        <h5 class="card-header display-6">juan.amurillo@outlook.mx</h5>
        <div class="card-body">
          <h4 class="card-title">Marketing</h4>
          <p class="card-text">Mi nombre es Juan Antonio Murillo y dirijo los esfuerzos de desarrollo de negocios con GTLogistics. Recientemente hemos lanzado una nueva plataforma de servios online,</p>
          <p>Espero no extralimitarme, sin embargo, basado en tu perfil online, pareces la persona adecuada para conectar por este tema … o al menos la que me puede apuntar en la dirección correcta...</p>
          <a href="#" class="btn btn-primary">Responder</a>
          <a href="#" class="btn btn-primary">Eliminar</a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class = "container">
      <div class="card">
        <h5 class="card-header display-6">contacto@correosdemexico.gob.mx</h5>
        <div class="card-body">
          <h4 class="card-title">Felicidades</h4>
          <p class="card-text">El gobierno de México, felicita a la empresa "Flor de chocolate", por elcompomiso y perseverancia ante los tiempos dificiles, así mismo...</p>
          <a href="#" class="btn btn-primary">Responder</a>
          <a href="#" class="btn btn-primary">Eliminar</a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="d-grid gap-2 col-6 mx-auto">
      <a href="./profile" class="btn btn-primary">REGRESAR</a>
    </div>
    <br />
    <br />
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>