<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!--FONT AWESOME-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css" type="Text/css">
  </head>
  <body>
    <h3 class="text-center display-5"><i class="fab fa-pagelines"> PRODUCTOS CACAO PURO.</i></h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Receta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Extra Brute</td>
            <td>Cacao en polvo de color rojo intenso, ideal para cubrir trufas o acabados color ambar</td>
            <td>Bizcochos, decoraciones, salsa</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Plein Arôme </td>
            <td>Cacao en polvo oscuro para reslatar sus elaboraciones y creaciones</td>
            <td>Bizcochos, decoraciones, salsa</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Grand Caraque</td>
            <td>Masa de cacao pura (100%) para otorgar a los fondants un color chocolate y absorber el dulzor. </td>
            <td>Mousses, rellenos de ganache, salsa</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Grué de cacao</td>
            <td>Copos de cacao puro, tostados delicadamente de acuerdo según la tradición</td>
            <td>Bizcochos, decoraciones, rellenos de ganache</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Manteca de cacao</td>
            <td> - </td>
            <td>Bizcochos</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Manteca de cacao desodorizada </td>
            <td> - </td>
            <td>Rellenos de ganache</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Manteca de cacao Mycryo</td>
            <td>100% manteca de cacao ideal para atemperar chocolate y para aplicaciones saladas</td>
            <td>Mousses, rellenos de ganache, cocinar</td>
          </tr>
          <tr>
        </tbody>
      </table>
      <br />
      <br />
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="./productos" class="btn btn-primary">REGRESAR</a>
      </div>
      <br />
      <br />
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>