<%- layout('layouts/main.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="css/styleproductos.css" type="Text/css">

    <div class="container">
      <br />
      <h3 class="text-center display-4"><i class="fab fa-pagelines"> NUESTROS PRODUCTOS.</i></h3>
      <p class="text-center h3">Los productos de nuestra marca se caracterizan por su calidad y buen precio.</p>
      <br />
      <br />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> CHOCOLATE</i></h5>
              <p class="card-text">Cada gama de chocolate tiene beneficios específicos como características de sabor distintivas y una fluidez optimizada.</p>
              <a href="./productos1" class="btn btn-primary">Descubra la gama</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> PRODUCTOS CACAO PURO.</i></h5>
              <p class="card-text">La gama cacao puro es una selección de productos 100 % cacao a partir de habas perfectamente tostadas.</p>
              <a href="./productos2" class="btn btn-primary">Descubra la gama</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> PRODUCTOS A BASE DE FRUTOS SECOS.</i></h5>
              <p class="card-text">Gracias a un proceso que respeta los ciclos naturales de crecimiento, seleccionamos, obtenemos y procesamos cuidadosamente los frutos secos frescos.</p>
              <a href="#" class="btn btn-primary">Descubra la gama</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> CROUSTILLANTS</i></h5>
              <p class="card-text">Los productos croustillants proporcionan sabores y texturas fáciles de usar que añadirán una interesante textura crujiente a sus postres.</p>
              <a href="#" class="btn btn-primary">Descubra la gama</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> PRODUCTOS LISTOS PARA USAR.</i></h5>
              <p class="card-text">Nuestros productos listos para usar son la forma perfecta de terminar un postre, ya sea si desea un glaseado brillante, más textura o una decoración sutil pero impresionante.</p>
              <a href="#" class="btn btn-primary">Descubra la gama</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> PRODUCTOS RECOMENDADOS.</i></h5>
              <p class="card-text">En está sección, las personas unidas a la marca pueden expresar sus ideas de los mejor productos de la marca.</p>
              <a href="#" class="btn btn-primary">Descubra la gama</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <P>
        <br />
        </P>
        <h3 class="text-center display-6"><i class="fas fa-utensil-spoon"> HERRAMIENTAS PARA LOS CHEFS.</i></h3>
        <p>
          <br />
          <br />
        </p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> RECETAS</i></h5>
              <p class="card-text">En este apartado se encuentran diferentes tipos de recetas dependiendo el producto.</p>
              <a href="#" class="btn btn-secondary">Descubra las recetas</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> TECNICAS.</i></h5>
              <p class="card-text">Contamos con cursos online y de manera presencial sobre las diferentes tecnicas que se utilizan en la gastronomia..</p>
              <a href="#" class="btn btn-secondary">Descubra las tecnicas</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> ASOCIACIONES AROMATICAS</i></h5>
              <p class="card-text">Descarga las tarjetas de combinaciones de sabora.</p>
              <a href="#" class="btn btn-secondary">Descubra las tarjetas</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-dark bg-light">
            <div class="card-body">
              <h5 class="card-title"><i class="fab fa-pagelines"> BOLETINES DEL LABORATORIO.</i></h5>
              <p class="card-text">Te interesa conocer los nuevos productos de la marca, está es una excelente opción.</p>
              <a href="#" class="btn btn-secondary">Descubra los boletines</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>